#carousel-9052{
  background-image: linear-gradient(to right, blueviolet, deeppink);
}
header{
  background-image: linear-gradient(to right, blueviolet, deeppink);
}
.u-block-1625-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1625-3 {
  position: absolute;
  left: 0;
}

.u-block-1625-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('media/ffffff.jpg');
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 493px;
  margin: 165px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 32px auto 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 25px;
  margin: 40px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('media/ffffff.jpg');
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 493px;
  margin: 165px auto 0;
}

.u-section-1-2 .u-text-2 {
  margin: 32px auto 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 25px;
  margin: 40px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('media/ffffff.jpg');
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 576px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 493px;
  margin: 165px auto 0;
}

.u-section-1-3 .u-text-2 {
  margin: 32px auto 0;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --radius: 25px;
  margin: 40px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}

.fav-icon{
  border-radius: 15px;
  background: #d6b973;
  width: 100px;
  height: 100px;
  bottom: 0;
}