# Ignore node_modules for Node.js projects
node_modules/

# Ignore build output directories
dist/
build/

# Ignore logs
logs/
*.log

# Ignore environment variable files
.env

# Ignore macOS system files
.DS_Store

# Ignore temporary files created by editors
*.swp
*.swo
*.bak

# Ignore package manager lock files
package-lock.json
yarn.lock

# Ignore Python bytecode
*.pyc
__pycache__/
